*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:#f5ede6;

}

.dashboard{

display:flex;
height:100vh;

}

.sidebar{

width:80px;
background:white;
display:flex;
flex-direction:column;
align-items:center;
padding:20px;
gap:30px;

box-shadow:0 0 10px rgba(0,0,0,.1);

}

.sidebar a{

text-decoration:none;
font-size:25px;

}

.content{

flex:1;
padding:40px;

}

.search{

display:flex;
gap:10px;

}

.search input{

flex:1;
padding:15px;
border:none;
border-radius:30px;

}

.search button{

padding:15px 30px;
border:none;
background:#8b7cf7;
color:white;
border-radius:30px;

}

.categorias{

display:flex;
gap:15px;
margin:30px 0;

}

.categorias span{

background:white;
padding:10px 20px;
border-radius:20px;

}

.livros{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;

}

.card{

background:white;
padding:15px;
border-radius:20px;
text-align:center;

box-shadow:0 3px 8px rgba(0,0,0,.08);

}

.card img{

width:100%;
height:250px;
object-fit:cover;
border-radius:15px;

}

.card h3{

font-size:18px;
margin-top:10px;

}

.card p{

color:gray;

}

.estatisticas{

margin-top:40px;
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;

}

.box{

background:white;
padding:25px;
border-radius:20px;

}

.chat{

width:300px;
background:white;
padding:25px;

box-shadow:-2px 0 10px rgba(0,0,0,.1);

display:flex;
flex-direction:column;
gap:15px;

}

.msg{

padding:12px;
border-radius:15px;

}

.bot{

background:#efefef;

}

.user{

background:#8b7cf7;
color:white;
align-self:flex-end;

}

.chat input{

margin-top:auto;
padding:15px;
border-radius:30px;
border:1px solid #ddd;

}